<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <!-- Basic Examples -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>{{'faqs' | translate}}
              <small>{{'findYourSolution' | translate}}.</small>
            </h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q1. {{'q1' | translate}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          {{'s1' | translate}}.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green msr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q2. {{'q2' | translate}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          {{'s2' | translate}}.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green msr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q3. {{'q3' | translate}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          {{'s3' | translate}}.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green msr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q4. {{'q4' | translate}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          {{'s4' | translate}}.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green msr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q5. {{'q5' | translate}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          {{'s5' | translate}}.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green msr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q6. {{'q6' | translate}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          {{'s6' | translate}}.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green msr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Q7. {{'q7' | translate}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="panel-body">
                          {{'s7' | translate}}.
                        </div>
                        <div class="mt-2">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-green msr-2">
                            <mat-icon>thumb_up</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Example icon-button with a heart icon"
                            class="btn btn-circle bg-red">
                            <mat-icon>thumb_down</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Basic Examples -->
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Pricing Page</h2>
          </div>
          <div class="body">
            <div class="demo">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                      <div class="pricingTable-header">
                        <i class="material-icons">brightness_medium</i>
                        <div class="price-value"> 00 FCFA
                          <span class="month">{{'perMonth' | translate}}</span>
                        </div>
                      </div>
                      <h3 class="heading">Free</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>01</b> Compte utilisateur
                          </li>
                          <li>
                            <b>03</b> Création de groupes
                          </li>
                          <li>
                            <b>03</b> Assistance
                          </li>
                          <li>
                            <b>∞</b> Envoie de messages whatsapp
                          </li>
                          <li>
                            <b>∞</b> Sélection multiple
                          </li>
                          <li>
                            <b>∞</b> Envoie de groupes
                          </li>
                        </ul>
                      </div>
                      <!-- <div class="pricingTable-signup">
                        <a href="#">sign up</a>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="pricingTable greenColor">
                      <div class="pricingTable-header">
                        <i class="material-icons">local_mall</i>
                        <div class="price-value"> 5 000 FCFA
                          <span class="month">{{'perMonth' | translate}}</span>
                        </div>
                      </div>
                      <h3 class="heading">Standard</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>03</b> Compte utilisateur
                          </li>
                          <li>
                            <b>10</b> Création de groupes
                          </li>
                          <li>
                            <b>30</b> Assistance
                          </li>
                          <li>
                            <b>05</b> Planification d'envoie
                          </li>
                          <li>
                            <b>∞</b> Envoie de messages whatsapp
                          </li>
                          <li>
                            <b>∞</b> Sélection multiple
                          </li>
                          <li>
                            <b>∞</b> Envoie de groupes
                          </li>
                          <li>
                            <b>∞</b> Importation des contacts
                          </li>
                          <li>
                            <b>∞</b> Exportation des contacts
                          </li>
                          <li>
                            <b>∞</b> Dates d'envoie auto
                          </li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a>sign up</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="pricingTable blueColor">
                      <div class="pricingTable-header">
                        <i class="material-icons">spa</i>
                        <div class="price-value"> 10 000 FCFA
                          <span class="month">{{'perMonth' | translate}}</span>
                        </div>
                      </div>
                      <h3 class="heading">PREMIUM</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>05</b> Compte utilisateur
                          </li>
                          <li>
                            <b>∞</b> Création de groupes
                          </li>
                          <li>
                            <b>∞</b> Assistance
                          </li>
                          <li>
                            <b>∞</b> Envoie de messages whatsapp
                          </li>
                          <li>
                            <b>∞</b> Sélection multiple
                          </li>
                          <li>
                            <b>∞</b> Envoie de groupes
                          </li>
                          <li>
                            <b>∞</b> Importation des contacts
                          </li>
                          <li>
                            <b>∞</b> Exportation des contacts
                          </li>
                          <li>
                            <b>∞</b> Planification d'envoie
                          </li>
                          <li>
                            <b>∞</b> Dates d'envoie auto
                          </li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a>sign up</a>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-3 col-sm-6">
                    <div class="pricingTable redColor">
                      <div class="pricingTable-header">
                        <i class="material-icons">filter_vintage</i>
                        <div class="price-value"> $40.00
                          <span class="month">{{'perMonth' | translate}}</span>
                        </div>
                      </div>
                      <h3 class="heading">EXTRA</h3>
                      <div class="pricing-content">
                        <ul>
                          <li>
                            <b>80GB</b> Disk Space</li>
                          <li>
                            <b>80</b> Email Accounts</li>
                          <li>
                            <b>80GB</b> Monthly Bandwidth</li>
                          <li>
                            <b>20</b> subdomains</li>
                          <li>
                            <b>35</b> Domains</li>
                        </ul>
                      </div>
                      <div class="pricingTable-signup">
                        <a href="#">sign up</a>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>