.snackbar-success {
  background-color: rgba(14, 155, 7, 0.8);
  color: #ffffff;
}

.snackbar-info {
  background-color: rgba(5, 117, 197, 0.8);
  color: #ffffff;
}

.snackbar-warning {
  background-color: rgb(250, 175, 0);
  color: #000000;
}

.snackbar-danger {
  background-color: rgb(153, 3, 3);
  color: #ffffff;
}