<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img src="assets/images/user/group.png" alt="avatar"  style="max-width: 15vw; max-height: 15vh;">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            <b>{{dialogTitle}}</b></div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content><br>
    <form class="register-form m-6" [formGroup]="groupForm" (ngSubmit)="submit">
      <div class="row">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>{{'name' | translate }}</mat-label>
            <input matInput formControlName="name">
            <mat-icon matSuffix>group</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{'about' | translate }}</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button class="btn btn-success" [type]="submit" [disabled]="!groupForm.valid"
              [mat-dialog-close]="1" (click)="confirmAdd()">{{'save' | translate }}</button>
            <button mat-raised-button class="btn btn-secondary" (click)="onNoClick()" tabindex="-1">{{'cancel' | translate }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
