  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-lg-4">
        <div class="auth-content p-4 d-flex align-items-center min-vh-100">
          <div class="w-100">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div>
                  <div class="text-center">
                    <div>
                      <a routerLink="" class="logo-full"><img src="assets/images/ySapp_logo.png" alt="logo-full"></a>
                    </div>

                    <h4 class="font-20 mt-4" style="color: #0ba32a; font-size: 2em">Connexion</h4>
                    <!-- <p class="text-muted">Sign in to continue to ySapp.</p> -->
                  </div>

                  <div class="p-2 mt-5">
                    <div class="container-login100-form-btn">
                      <button mat-flat-button color="success" class="login100-form-btn" (click)="login()" style="background-color: #0ba32a">
                        Connexion avec Yaba-In
                      </button>                      
                    </div>
                  </div>


                  <div class="mt-5 text-center">
                    <p>Vous n'avez pas de compte ? <a routerLink="/authentication/signup"
                        class="font-weight-medium text-primary" style="color: #0ba32a !important">
                        Nouveau compte </a> </p>
                    <ul class="list-unstyled social-icon mb-0 mt-3">
                      <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                          <i class="fab fa-google"></i>
                        </a></li>
                      <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded flex-c-m">
                          <i class="fab fa-facebook-f"></i>
                        </a></li>
                      <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                          <i class="fab fa-twitter"></i>
                        </a></li>
                      <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                          <i class="fab fa-linkedin-in"></i>
                        </a></li>
                    </ul>
                    <br>Par <a href="https://yabain.com" target="_blank" style="color: #0ba32a">Yaba-In</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="auth-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
