<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">{{user.firstName}}</div>
                <div>{{user.lastName}}</div>
                <div class="name-center">{{user.company}}</div>
              </div><br>
              <!-- <img src="{{user.imageUrl}}" class="user-img" alt=""> -->
              <img src="assets/images/user/user.png" class="user-img" alt="">
              <p>
                <!-- {{user.country}}, {{user.region}} , {{user.city}} -->
                ID: {{user.id}}
                <br />{{user.poste}}
                <br> {{user.email}}
              </p>
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>{{user.phone}}</span>
              </div>
              <div class="row">
                <div class="col-4">
                  <h5>03</h5>
                  <small>{{'organisations' | translate}}s</small>
                </div>
                <div class="col-4">
                  <h5>0</h5>
                  <small>{{'contact' | translate}}s</small>
                </div>
                <div class="col-4">
                  <h5>565</h5>
                  <small>{{'messages' | translate}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="{{'description' | translate}}">
              <div class="p-4">
                <p class="m-t-30">Profile description</p>
                <hr>
              </div>
            </mat-tab>
            <mat-tab label="{{'groups' | translate}}">
              <ul class="list-unstyled p-4">
                <li>
                  <div>Yaba-In</div>
                  <div class="progress skill-progress m-b-20">
                    <!-- <div class="progress-bar l-bg-green width-per-45" role="progressbar" aria-valuenow="45"
                      aria-valuemin="0" aria-valuemax="100"></div> -->
                  </div>
                </li>
                <li>
                  <div>UdM</div>
                  <div class="progress skill-progress m-b-20">
                    <!-- <div class="progress-bar l-bg-orange width-per-38" role="progressbar" aria-valuenow="38"
                      aria-valuemin="0" aria-valuemax="100"></div> -->
                  </div>
                </li>
                <li>
                  <div>Groupe SIA</div>
                  <div class="progress skill-progress m-b-20">
                    <!-- <div class="progress-bar l-bg-cyan width-per-39" role="progressbar" aria-valuenow="39"
                      aria-valuemin="0" aria-valuemax="100"></div> -->
                  </div>
                </li>
              </ul>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                {{'about' | translate}}
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong> {{'about' | translate}}</strong> {{'me' | translate}}</h2>
                  </div>
                  <div class="body">
                    <div class="row clearfix">
                      <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>{{'firstName' | translate}}</mat-label>
                            <input matInput value="{{user.firstName}}">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>{{'lastName' | translate}}</mat-label>
                            <input matInput value="{{user.lastName}}">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>{{'city' | translate}}</mat-label>
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>{{'email' | translate}}</mat-label>
                            <input matInput value="{{user.email}}">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>{{'country' | translate}}</mat-label>
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>{{'about' | translate}} {{'me' | translate}}</mat-label>
                            <textarea matInput></textarea>
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- <div class="col-md-12">
                        <div class="form-group">
                          <mat-checkbox class="example-margin">Profile Visibility For Everyone
                          </mat-checkbox>
                        </div>
                        <div class="form-group">
                          <mat-checkbox class="example-margin">New task notifications
                          </mat-checkbox>
                        </div>
                        <div class="form-group">
                          <mat-checkbox class="example-margin">New friend request notifications
                          </mat-checkbox>
                        </div>
                      </div> -->
                      <div class="col-md-12">
                        <button mat-raised-button color="primary" (click)="redirect()"><i class="fas fa-edit"></i> {{'edit' | translate}} </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                {{'settings' | translate}}
              </ng-template>
              <div class="body">

                <div class="settingSidebar-body ps-container ps-theme-default"
                  [ngStyle]="{'position' : 'relative', 'max-height' : maxHeight+'px', 'max-width' : maxWidth+'px'}">
                  <div class=" fade show active">
                    <div class="setting-panel-header">{{'settings' | translate}}
                    </div>
                    <div class="p-15 border-bottom">
                      <h6 class="font-medium m-b-10">{{'theme' | translate}}</h6>
                      <div class="flex flex-wrap hiddenradio">
                        <div class="flex flex-col ">
                          <label>
                            <input type="radio" name="value" value="light"
                              [checked]="isDarTheme == false ? true : false" (click)="lightThemeBtnClick()">
                            <img src="assets/images/light.png">
                          </label>
                          <div class="mt-1 text-md text-center"> {{'ligth' | translate}} </div>
                        </div>
                        <div class="flex flex-col mt-3"> <label>
                            <input type="radio" name="value" value="dark" [checked]="isDarTheme == true ? true : false"
                              (click)="darkThemeBtnClick()">
                            <img src="assets/images/dark.png">
                          </label>
                          <div class="mt-1 text-md text-center"> {{'dark' | translate}} </div>
                        </div>
                      </div>
                    </div>
                    <div class="rightSetting">
                      <h6 class="font-medium m-b-10">{{'sidebare-color' | translate}}</h6>
                      <mat-button-toggle-group class="mt-2" [value]="isDarkSidebar ? 'dark' : 'light'">
                        <mat-button-toggle (click)="lightSidebarBtnClick()" value="light">{{'ligth' |
                          translate}}</mat-button-toggle>
                        <mat-button-toggle (click)="darkSidebarBtnClick()" value="dark">{{'dark' |
                          translate}}</mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>
                    <div class="p-15 border-bottom">
                      <h6 class="font-medium m-b-10">{{'sidebare-color' | translate}}</h6>
                      <div class="theme-setting-options">
                        <ul class="choose-theme list-unstyled mb-0">
                          <li data-theme="white" [ngClass]="{'active': selectedBgColor === 'white'}" (click)="selectTheme('white')">
                            <div class="white"></div>
                          </li>
                          <li data-theme="black" [ngClass]="{'active': selectedBgColor === 'black'}" (click)="selectTheme('black')">
                            <div class="black"></div>
                          </li>
                          <li data-theme="purple" [ngClass]="{'active': selectedBgColor === 'purple'}"
                            (click)="selectTheme('purple')">
                            <div class="purple"></div>
                          </li>
                          <li data-theme="orange" [ngClass]="{'active': selectedBgColor === 'orange'}"
                            (click)="selectTheme('orange')">
                            <div class="orange"></div>
                          </li>
                          <li data-theme="cyan" [ngClass]="{'active': selectedBgColor === 'cyan'}" (click)="selectTheme('cyan')">
                            <div class="cyan"></div>
                          </li>
                          <li data-theme="green" [ngClass]="{'active': selectedBgColor === 'green'}" (click)="selectTheme('green')">
                            <div class="green"></div>
                          </li>
                          <li data-theme="blue" [ngClass]="{'active': selectedBgColor === 'blue'}" (click)="selectTheme('blue')">
                            <div class="blue"></div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">lock</mat-icon>
                {{'security' | translate}}
              </ng-template>
              <div class="header">
                <h2>
                  <strong>Security</strong> Settings
                </h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <div class="col-md-12">
                    <button mat-raised-button color="primary" (click)="redirect()"><i class="fas fa-edit"></i> {{'edit' | translate}} </button>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">border_bottom</mat-icon>
                {{'Qr-Code' | translate}}
              </ng-template>
              <div class="body text-center">
                <button (click)="getQrCode()" class="btn btn-success"><mat-icon class="example-tab-icon msr-2">border_bottom</mat-icon> Refresh QR-code <mat-icon class="example-tab-icon msr-2">border_bottom</mat-icon></button>
              <div *ngIf="loadingContacts" class="tbl-spinner">
                <div class="preloader">
                  <div class="spinner-layer pl-green">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
                <qrcode *ngIf="!loadingContacts" [qrdata]="[qrCode]" [width]="250" [errorCorrectionLevel]="'M'" [colorDark]="'#275C3C'" [margin]="'2'">
                </qrcode>
              </div>
            </mat-tab>

          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>